.site-card-border-less-wrapper {
  padding:30px;
  background: rgb(213,209,205);
}

.site-drawer-render-in-current-wrapper {
  position: relative;
  overflow: hidden;
  text-align: center;
  background: #fafafa;
  border: 1px solid #ebedf0;
  border-radius: 2px;
}


.link {
  color: #FFF;
}
.link:hover {
  color: dodgerblue;
}

.header {
  overflow: hidden;
  background-image: url(Header.jpg);
  background-size: cover;
  text-align: center;
  font-size: 25px;
  padding: 1em;
  margin-bottom: 0.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.header .hdr {
  float: left;
  color: whitesmoke;
  text-align: center;
  padding: 10px;
  text-decoration:none;
  font-size: 18px; 
  line-height: 37px;
  border-radius: 2px;
}

.hometext {
  color: #fff;
  font-size: 1.2em;
}

.hometext:hover {
  color: black;
}

.atelier a {
  color: #fff;
  font-size: 1.5em;
}

.atelier a:hover {
  color: black;
}

.atelier span {
  color: #fff;
  font-size: 0.8em;
}


.logo {
  font-size: 25px;
  font-weight: bold;
  float: center;
}

.sustainable{
  float: center
}
.header .hdr:hover {
  background-color: #ddd;
  color: black;
}

.header .hdr.active {
 
  color: white;
}

.header-right {
  float: right;
}

.header-left {
  float: right;
}



@media only screen and (max-width: 600px) {
  .header {
    flex-direction: column;
  }
}

/* @media screen and (max-width: 500px) {
  .header .hdr {
    float: none;
    display: block;
    text-align: center;
  }
  
  .header-right {
    float: none;
  }
} */

/* @media screen and (min-width: 500px) {
  
  
  .header .hdr {
    float: none;
    display: block;
    text-align: center;
  }
  
  .header-right {
    float: none;
  }
} */



.footer{
background-image: url(Header.jpg);
  background-size: cover;
  box-sizing: border-box;
  width: 100%;
  height: 50px;
  display: flex;
  padding: 1em;
  margin-top: 0.5em;
  color:#fffaf0;
}

.footer-left {
  float:left;
}

.footer-left {
  float:right;
  
}



.hzf{
  background-color: dodgerblue;
  color: white;
  text-align: center;
  margin: 3px;
  padding-top: 12.5px;
  padding-bottom: 11px;
  padding-left: 17px;
  padding-right: 17px;
  text-decoration: none;
  line-height: 8px;
  border-radius: 2px;
  font-size: 14px;
  border-style: none;
  text-shadow: 0em -0.08em 0.01em rgb(28, 125, 223);
  cursor: pointer;
}
.hzfInput{
    width: 20%;
    padding: 12px;
    margin: 3px;
    border: 0.5px solid #ccc;
    border-radius: 2px;
    font-size: 14px;
    height:32px;
    text-align: center;

}

.hzfInput:hover{
 
 border:0.5px solid dodgerblue;


}

.hzf:hover{
 
  background-color: rgb(86, 170, 255);
 
 
 }

.containerHzf{
 margin: 15px;
 }